.userMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email {
  font-weight: bold;
}

.logoutButton {
  padding: 5px 10px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.logoutButton:hover {
  background-color: #e60000;
}
